<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css2?family=Mynerve&display=swap" rel="stylesheet">
  <style>
    .div{
      height: 200px;
      width: 200px;
      margin: auto;
      border: solid 2px black;
      background-color: yellowgreen;
      animation-name:example ;
      animation-duration: 4s;
      font-family: 'Mynerve', cursive;
      overflow:scroll;
    }
    @keyframes example{
      from{
        background-color: yellowgreen;
      }
      to{
        background-color: orangered;
      }
    }
  </style>
</head>
<body>
  <div class="div">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam ducimus eligendi deserunt commodi fuga, nostrum voluptas sapiente odio voluptatem, repellendus eius reprehenderit ut ipsa voluptatum officia cumque nesciunt nisi? Quia?Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quasi aspernatur molestiae iusto quo optio cumque perferendis deleniti, voluptatibus ea dicta error facilis, in, debitis natus consequatur ex? Cumque, tenetur?Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis molestiae quis sequi magnam aspernatur fugiat velit iste? Sed non sit hic. Sequi, adipisci? Fugiat maiores numquam pariatur necessitatibus dolor quos.</div>

</body>
</html>
